* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
.navbar span {
    font-family: "Alike Angular", serif;
}

.navbar a {
    font-family: "Alike Angular", serif;
}

body {
    background: #eee;
}
body {
    background: #eee;
}

/* NAVBAR */
/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ddd;
    padding: 0 40px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 90px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
}

@media (max-width: 600px) {
    .navbar {
        padding: 10px;
    }

    nav {
        flex: 1;
        justify-content: center;
    }

    nav a {
        font-size: 11px;
        margin: 0 8px;
        white-space: nowrap;
    }
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.logo img {
    width: 90px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
}

.carousel-item {
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.d-block {
    width: 100%;
    height: 100%;
}

.carousel-container {
    position: relative;
}

@media (max-width: 768px) {
    .carousel-item {
        height: fit-content;
        height: 300px;
    }
}
.content {
    padding: 40px;
    text-align: start;
}
.content h5 {
    text-indent: 40px;
}
.subtitle {
    text-indent: 0px;
    padding-bottom: 10px;
}